@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', cursive;
    background: rgb(31, 31, 31);
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Finger Paint' ,cursive;
    text-align: center;
    padding: 10px;  
    margin-bottom: 50px;
}

header h1,
.badges {
    background: url('https://user-images.githubusercontent.com/71545212/102334999-ee0d0200-3fc1-11eb-9853-20b53918ccf2.png');
    color: black;
}

.comp-choice p,
.user-choice p {
    width: 100px;
    font-size: 4em;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    padding: 5px;
}

.comp-choice p {
    width: 110px;
    padding: 10px;
    background: white;
}

.score-board {
    border: 3px solid white;
    border-radius: 2px;
    width: 200px;
    padding: 20px 10px;
    margin: 20px auto;
    position: relative;
}

.badges {
    position: absolute;
    font-size: .8em;
    font-weight: bold;
    padding: 5px;
    top: 23px;
    border: 2px solid white;
    border-radius: 2px;
}

.badge-user {
    left: -24px;
}

.badge-comp {
    right: -26px;
}

.score-board span {
    font-size: 2em;
    font-weight: bold;
}

.result {
    font-size: 2em;
    font-weight: bold;
    height: 60px;
}

.user-choice p {
    display: inline-block;
    margin: 20px;
    transition: all .3s ease;
}

.user-choice p:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: white;
}
